<% if resource.errors.any? %>
  <ul class="error">
    <label class="alerta">
      <input type="checkbox" class="alert-flag">
      <div class="info">
        <div class="cerrar" role="button"></div>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    </label>
  </ul>
<% end %>