<div class="catalogo_cercania">
    <div>
        <div class="auto a"></div>
        <div class="auto b"></div>
        <div class="auto c"></div>
        <div class="auto d"></div>
        <div class="auto b"></div>
        <div class="auto c"></div>
        <div class="auto d"></div>
        <div class="auto b"></div>
        <div class="auto c"></div>
        <div class="auto d"></div>
        <div class="auto b"></div>
        <div class="auto c"></div>
        <div class="auto d"></div>
    </div>
</div>