<div class="barra-navegacion">
    <%= link_to root_path do %>
      <div class="logo_principal">
        <%= image_tag "alquilapp-logo.svg", class:"logo" %>
        <h1>Alquilapp</h1>
      </div>
    <% end %>
</div>