<h1>Agregar supervisor</h1>

# aca quiero llamar al new_user_registration_path
# para crear un nuevo usuario
# y despues hacer User.find().update(super: true)
# asi crea un supervisor

<%= new_user_registration_path %>

