<%= stylesheet_link_tag 'style.css' %>

<center>
<div class="fondo">
    <%= render "/home/menu_lateral"%>
    <%= link_to :back do %>
        <%= image_tag "arrow-left.svg", class:"volver" %>    
    <% end %>
    <h1 class="titulo_seccion"><FONT COLOR="EA3A3A">Auto bloqueado con éxtio</h1>
    
</div>
</center>