<%= stylesheet_link_tag 'style.css' %>

<div class="fondo vehiculo">
    <%= render "/home/menu_lateral"%>

    <div class="encabezado"><h1 class="titulo_seccion">Preguntas Frecuentes</h1></div>

    <ul class="preguntas">
        <li><h2><i><b>¿Por qué no veo vehículos?</b></i></h2>En caso de no poder ver vehículos disponibles, es porque todos se encuentran ocupados, ya sea por usuarios o por razones de mantenimiento.</li>
        <br>
        <li><h2><i><b>¿Cuál es el máximo de horas que puedo reservar un vehículo?</b></i></h2>Inicialmente, el rango varía de 1 a 24hs, en caso de ser necesaria una extensión puede hacerlo siempre y cuando tenga dinero suficiente en la billetera de la apliación.</li>
        <br>
        <li><h2><i><b>¿Qué hago en caso de sufrir un accidente?</b></i></h2>En caso de accidentes o averías, la aplicación le ofrece la opción de un contacto de emergencia que lo comunicará directamente con uno de nuestros supervisores disponibles 24/7</li>
        <br>
        <li><h2><i><b>¿Qué sucede si no tengo dinero suficiente en la billetera para extender mi alquiler y no estoy dentro del casco urbano de la ciudad de La Plata?</b></i></h2>En estos casos, se le cobrará un adicionál de penalización que dependerá del tiempo total extraque no abone.</li>
        <br>
        <li><h2><i><b>¿Cómo enciendo el vehículo si no tengo una llave?</b></i></h2>La aplicación cuenta con un sistema de activación automática del vehículo.</li>
        <br>
        <li><h2><i><b>¿Puedo llevar mascotas?</b></i></h2>Siempre y cuando el vehículo sea dejado en condiciones óptimas, puede hacer cualquier tipo de actividad (legal).</li>
        <br>
        <li><h2><i><b>¿Puedo viajar por fuera del casco urbano de la ciudad de La Plata?</b></i></h2>Si. Lo importante es que al finalizar con el uso del vehículo, el mismo esté dentro del casco urbano.</li>
        <br>
        <li><h2><i><b>¿Puedo cargar la billetera de otra forma que no sea con tarjeta de crédito o débito?</b></i></h2>De momento, no es posible.</li>
        <br>
        <li><h2><i><b>Si enuentro un fallo en el vehículo al subirme que no esté reportado ¿Qué debería hacer?</b></i></h2>En estos casos, usted siempre será capaz de dejar comentarios en el apartado de la aplicación referida al vehículo.</li>
        <br>
        <li><h2><i><b>¿El precio de alquiler depende de las características del vehículo?</b></i></h2>No. De momento el precio de alquiler es de $200/h</li>
        <br>
        <br>
    </ul>
</div>
