.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-image: url("mapa.png");
    background-size: cover;
}

.contenedor{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.ingreso{
    background-color: #ededed;
    border-radius: 10px;
    border: none;
    padding: 15px;
}

.field{
    text-align: center;
    margin: 10px;
}

.boton{
    width: 90%;
    background-color: orange;
    border-radius: 15px;
    border:none;
    padding: 15px;
    transition: 0.3s;
}

.boton:hover{
    cursor: pointer;
    background-color: rgb(255,185,0);
}