:root{
    --radioBordes: 10px;
    --colorEnfasis: #e7c078;
}

*{
    font-family: 'Varela Round', sans-serif;
}



body {
    font-family: "Lato", sans-serif;
    background-image: url("mapa.png");
    background-size: cover;
  }
  
  .barralateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .barralateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .barralateral a:hover {
    color: #f1f1f1;
  }
  
  .barralateral .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .abrir_menu_lateral {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .abrir_menu_lateraln:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

.opciones{

}






.sesion_actual{
    bottom: 0;
}

.recuperar {
    background-color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    border-radius: var(--radioBordes);
    margin-top: 20px;
    border: 3px solid var(--colorEnfasis);
    transition:0.3s;
  }
    
.interfaz_recupero {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.recuperacion{
    margin-left: 20px;
}

.logo_principal{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background-color: black;
    padding: 10px;
    border-radius: var(--radioBordes);
}

.logo_principal h1{
    margin-left: 15px;
}

.logo{
    background-image: url("alquilapp-logo.svg");
    height: 70px;
    width: auto;
}

.sesion{
    margin-left: 25px;
    margin-right: 25px;
}

.sesion h2{
    margin-bottom: 30px;
}

.iniciar_crear{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lineavertical{
    border-left: 0.5px solid grey;
  height: auto;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 98vh;
}

.contenedor{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: var(--radioBordes);
    padding: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    text-align: center;
}

.ingreso{
    background-color: #ededed;
    border-radius: var(--radioBordes);
    border: none;
    padding: 15px;
}

.field{
    text-align: center;
    margin: 10px;
}

.boton{
    width: 90%;
    background-color: var(--colorEnfasis);
    border-radius: var(--radioBordes);
    border:none;
    padding: 15px;
    transition: 0.3s;
}

.active, .boton:hover{
    cursor: pointer;
    background-color: var(--colorEnfasis);
}

.inicio{
    margin: 15px;
}



.volver:hover{
    background-color: #DBDBDB;
}

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal h2{
    margin-left: 15px;
}



/* a usar proximamente (tal vez)
.volver{
    height: 25px;
    width: auto;
    border-radius: 50%;
    background-color: #ededed;
    padding: 15px;
    transition: 0.3s;
}

*/