/*variables--------------------*/
:root{
    --radioBordes: 10px;
    --colorEnfasis: #e7c078;
}

/*Fuente Utilizada en toda la app/web--------------------*/
*{
    font-family: 'Varela Round', sans-serif;
}

/*cuerpo--------------------*/
body{
    margin: 0;
    background-color: blue;
    background-image: url("mapa.png");
}

/*fondo pagina--------------------*/
.fondo.vehiculo {
    height: fit-content;
  }
  
.fondo{
    background-color: white;
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100vw;
    padding-top: 110px;
}

/*Barra superior--------------------*/
.barra_superior{
    position:fixed;
    width: 100%;
    top: 0;
}

#main {
    transition: margin-left .5s;
    padding: 5px 0px 5px 30px; /*top right bottom left*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 95%;
    border-radius: var(--radioBordes);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    margin: 15px auto 0px auto; /*top right bottom left*/

}

/*Barra lateral--------------------*/
.barralateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 10px 0px 10px rgba(0,0,0,0.3);
    border-radius: var(--radioBordes);
}
  

.barralateral a:hover {
    color: #f1f1f1;
}
  
.barralateral .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn:hover{
    color: #444;
}

details summary::-webkit-details-marker {
    display: none;
  }

.opciones_lateral{
    padding: 15px;
    font-size: large;
    transition: 0.3s;
    border:none;
    width: 100%;
    background-color: white;
    text-align: left;
    list-style: none;
}

.sub_opciones_lateral{
    padding: 15px 15px 15px 40px;
    font-size: 15px;
    transition: 0.3s;
    border:none;
    background-color: #dbdbdb;
    text-align: left;
    color: black;
    width: 100%;
    text-decoration: none;
}

.opciones_lateral:hover, .sub_opciones_lateral:hover{
    background-color: var(--colorEnfasis);
    cursor: pointer;
}
  
.abrir_menu_lateral {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: white;
    border:none;
    fill: grey;
}
  
.burger {
    height:45px;
}

.abrir_menu_lateraln:hover {
    background-color: #444;
}
  


/*Interfaz para recuperar contraseña--------------------*/
.recuperar {
    background-color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    border-radius: var(--radioBordes);
    margin-top: 20px;
    border: 3px solid var(--colorEnfasis);
    transition:0.3s;
}
    
.interfaz_recupero {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.recuperacion{
    margin-left: 20px;
}

/*Logo y texto--------------------*/
.logo_principal{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.logo_principal h1{
    margin-left: 15px;
}

.logo{
    background-image: url("alquilapp-logo.svg");
    height: 70px;
    width: auto;
}

.titulo_logo{
    text-decoration: none;
}

/*Interfaz inicio de sesión--------------------*/
.sesion{
    margin-left: 25px;
    margin-right: 25px;
}

.sesion h2{
    margin-bottom: 30px;
}

.iniciar_crear{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Separador vertical--------------------*/
.lineavertical{
    border-left: 0.5px solid #dbdbdb;
    height: auto;
}

/*Separador horizontal--------------------*/
.lineahorizontal{
    border: 0.25px solid #dbdbdb;
    width: auto;
}

/*Posiciona el elemento al centro de la pantalla--------------------*/
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("mapa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.contenedor{
    width: fit-content;
    background-color: white;
    border-radius: var(--radioBordes);
    padding: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    text-align: center;
}

.ingreso{
    background-color: #ededed;
    border-radius: var(--radioBordes);
    border: none;
    padding: 15px;
}

/*Posiciona elementos del formulario de ingreso/creación--------------------*/
.field{
    text-align: center;
    margin: 10px;
}

/*Estilo de botones--------------------*/
.boton{
    width: 90%;
    background-color: var(--colorEnfasis);
    border-radius: var(--radioBordes);
    border:none;
    padding: 15px;
    transition: 0.3s;
}

.active, .boton:hover{
    cursor: pointer;
    background-color: var(--colorEnfasis);
}

.inicio{
    margin: 15px;
}

/*Alinear elementos horizontalmente--------------------*/
.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal h2{
    margin-left: 15px;
}

/*titulos de las secciones--------------------*/
.titulo_seccion{
    padding-left: 2.5%;
}

/*pagina para modificar datos--------------------*/
.interfaz_editar{
    margin-top: 100px;
    background-color: white;
    height: 100%;
    margin-top:-20px;
    padding-top: 100px;
}

/*pagina de listado de usuarios--------------------*/
.listado{
    width: 90%;
    margin: 0 auto 0 auto;
    
}
.listado_item{
    padding: 15px;
    list-style: none;
}



.volver{
    height: 25px;
    width: auto;
    border-radius: 50%;
    background-color: #ededed;
    padding: 15px;
    transition: 0.3s;
}

.volver:hover{
    background-color: #DBDBDB;
}
