/*variables--------------------*/
:root{
    --radioBordes: 10px;
    --colorEnfasis: #e7c078;
    --colorEnfasis2: #E0AD4E;
    --espacioDeBarraSuperior: 130px;
}

/*Fuente Utilizada en toda la app/web--------------------*/
*{
    font-family: 'Varela Round', sans-serif;
}

/*cuerpo--------------------*/
.base{
    margin: 0;
    background-color: blue;
    height: 100%;
    width: 100%;
}

/*fondo pagina--------------------*/
.fondo.vehiculo {
    height: fit-content;
}
  
.fondo{
    background-color: white;
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100vw;
    padding-top: 130px;
}

/*Barra superior--------------------*/
.barra_superior{
    position:fixed;
    width: 100%;
    top: 0;
}

#main {
    transition: margin-left .5s;
    padding: 5px 0px 5px 30px; /*top right bottom left*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 90%;
    border-radius: var(--radioBordes);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    margin: 15px auto 0px auto; /*top right bottom left*/

}

/*Barra lateral--------------------*/
.barralateral {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 10px 0px 10px rgba(0,0,0,0.3);
    border-radius: var(--radioBordes);
}
  

.barralateral a:hover {
    color: #f1f1f1;
}
  
.barralateral .closebtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebtn:hover{
    color: #444;
}

details summary::-webkit-details-marker {
    display: none;
  }

.opciones_lateral{
    padding: 15px;
    font-size: large;
    transition: 0.3s;
    border:none;
    width: 100%;
    background-color: white;
    text-align: left;
    list-style: none;
}

.sub_opciones_lateral{
    padding: 15px 15px 15px 40px;
    font-size: 15px;
    transition: 0.3s;
    border:none;
    background-color: #dbdbdb;
    text-align: left;
    color: black;
    width: 100%;
    text-decoration: none;
}

.opciones_lateral:hover, .sub_opciones_lateral:hover{
    background-color: var(--colorEnfasis);
    cursor: pointer;
}
  
.abrir_menu_lateral {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: white;
    border:none;
    fill: grey;
}
  
.burger {
    height:45px;
}

.abrir_menu_lateraln:hover {
    background-color: #444;
}

/*Alertas--------------------*/
.alerta {
    pointer-events: none;
    position: absolute;
}

.info {
    display: flex;
    background: lightpink;
    border-radius: 15px;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.alert-flag {
    display: none;
}

.alert-flag:checked ~ .cerrar,
.alert-flag:checked ~ .info {
    display: none;
}

.cerrar {
    pointer-events: all;
    background-color:green;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.error{
    position: absolute;
}

.error li{
    list-style: none;
    margin: 15px;
}

/*Interfaz para recuperar contraseña--------------------*/
.recuperar {
    background-color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    border-radius: var(--radioBordes);
    margin-top: 20px;
    border: 3px solid var(--colorEnfasis);
    transition:0.3s;
}
    
.interfaz_recupero {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.recuperacion{
    margin-left: 20px;
}

/*Logo y texto--------------------*/
.logo_principal{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.logo_principal h1{
    margin-left: 15px;
}

.logo{
    background-image: url("alquilapp-logo.svg");
    height: 70px;
    width: auto;
}

.titulo_logo{
    text-decoration: underline;
}

/*Interfaz inicio de sesión--------------------*/
.sesion{
    margin-left: 25px;
    margin-right: 25px;
}

.sesion h2{
    margin-bottom: 30px;
}

.iniciar_crear{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*catalogo de autos cercanos--------------------*/
.catalogo_cercania{
    border-radius: var(--radioBordes);
    background-color: white;
    width: min-content;
    height: 75vh;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    float:right;
    margin-right: 4.05%;
    margin-top: var(--espacioDeBarraSuperior);
    overflow: auto;
    text-align: center;
}

.auto{
    height: 150px;
    width: 250px;
    border-radius: var(--radioBordes);
    margin: 15px;
    background-color: var(--colorEnfasis);
    background-image: url("car-side.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}

.auto:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.ad{
    background-color: #dbdbdb;
}

.txt{
    text-align: center;
}

/*Separador vertical--------------------*/
.lineavertical{
    border-left: 0.5px solid #dbdbdb;
    height: auto;
}

/*Separador horizontal--------------------*/
.lineahorizontal{
    border: 0.25px solid #dbdbdb;
    width: auto;
}

/*Posiciona el elemento al centro de la pantalla--------------------*/
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

.contenedor{
    width: fit-content;
    background-color: white;
    border-radius: var(--radioBordes);
    padding: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    text-align: center;
}

.advertencia{
    font-size: 10px;
    width: 80%;
}

.ingreso{
    background-color: #ededed;
    border-radius: var(--radioBordes);
    border: none;
    padding: 15px;
    margin:10px;
}

/*Posiciona elementos del formulario de ingreso/creación--------------------*/
.field{
    text-align: center;
}

/*Alinear elementos horizontalmente--------------------*/
.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal h2{
    margin-left: 15px;
}

.modificarCuenta {
    justify-content: space-around;
    width: fit-content;
    margin: 0 auto;
    align-items: center;
}

/*titulos de las secciones--------------------*/
.titulo_seccion{
    padding-left: 2.5%;
}

/*pagina de listado de usuarios--------------------*/
.listado{
    width: 90%;
    margin: 0 auto 0 auto;
    border-collapse: collapse;
    transition: 0.3s;
    margin-top: 50px;
}

.listado th{
    background-color: var(--colorEnfasis);
}

.listado tr {
    transition: 0.3s;
}

.listado tr:hover {
    background-color: #dbdbdb;
}

.item{
    padding: 15px;
    list-style: none;
    text-align: center;
    border-bottom:0.5px solid #dbdbdb;
}

.item .a {
    width: fit-content;
}

/*Pagina listado Supervisores--------------------*/
.encabezado{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.form{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    margin: 0 auto;
}

.actions{
    margin: 0 auto;
}

/*imagenes--------------------*/
.imagen{
    height: 100px;
    width: 100px;
}

/*Página de espera de Aprobación--------------------*/
.esperarAprobacion{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255, 0.5);
    text-align: center;
    vertical-align: middle;
    line-height: 100vh;
}

.espera{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 25px;
    background-color: white;
    border-radius: var(--radioBordes);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}

/*preguntas frecuentes--------------------*/
.preguntas{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

.preguntas li{
    list-style: none;
}

.preguntas h2{
    margin-bottom: 0px;
}

/*Estilo de botones--------------------*/
.boton{
    background-color: var(--colorEnfasis);
    border-radius: var(--radioBordes);
    border:none;
    padding: 15px;
    transition: 0.3s;
}

.active, .boton:hover{
    cursor: pointer;
    background-color: var(--colorEnfasis2);
}

.inicio{
    margin: 15px;
}
.volver{
    height: 25px;
    width: auto;
    border-radius: 50%;
    background-color: #ededed;
    padding: 15px;
    transition: 0.3s;
}

.volver:hover{
    background-color: #DBDBDB;
}

.ag_super{
    height: 25px;
    width: auto;
    border-radius: 50%;
    background-color: var(--colorEnfasis);
    padding: 15px;
    transition: 0.3s;
    margin-left: 30px;
}

.ag_super:hover{
    background-color: var(--colorEnfasis2);
}